.container {
  height: 100vh;
  width: 100%;
  background: linear-gradient(rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0.45)),
    url("../../img/background-img.jpg") no-repeat center center;
  background-size: cover;
  text-align: center;
  color: white;
}
.Nav {
  display: flex;
  flex-direction: row;
  background-color: black;
  justify-content: space-between;
  align-items: center;
  padding-left: 50px;
  padding-right: 50px;
  height: 80px;
  font-weight: 700;
}
.Nav a {
  text-decoration: none;
  color: white;
}

.login_logo {
  height: 50px;
  width: 170px;
  fill: white;
}

ul {
  list-style: none;
}

li {
  display: inline;
  padding: 28px 17px;
  cursor: pointer;
}

h1 {
  font-size: 80px;
  font-weight: 900;
  margin: 150px auto 20px auto;
}

h4 {
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 40px;
}
